
h1, h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(45, 44, 43);
}
.menu{
    text-align: left;
    margin-left: 45%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.pizza.images{
    display: block;
    height: auto;
    width: 400px;
    margin: auto;
}

div{
    background-color: rgb(160, 162, 162);
    outline: auto;
    text-align: center;
}

body{
    background-color: rgb(228, 223, 194);
}

.ingredients{
    text-align:left;
    margin-right: 49%;
    font-family: 'Courier New', Courier, monospace;
}

.ingredients.header{
    text-indent: 1%;
    font-weight:bold;
}

.steps{
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    margin-left: 51%;
    margin-top: auto;
}
.steps.header{
    text-indent: 55%;
}
#pizza{
    margin-top: -7%;
}
#nachos{
    margin-top: -18%;
}
#lasagna{
    margin-top: -18%;
}
